<h1>Edit Article</h1>
<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="article_title">Title: </label>
  <input type="text" id="title" name="article[title]" value="<%= @article.title %>"><br>
  <label for="article_content">Content: </label>
  <input type="text" id="content" name="article[content]" value="<%= @article.content %>"><br>
  <br>
  <input type="submit" id="submit">
</form>