<h1><%= @article.title %></h1>
<p><%= @article.content %></p><br>
<form method="post" action="/models/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>